<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View_Stats</title>
</head>
<body>
<h2>View_Stats</h2>
<br><br><br>
<form method="post" action="/viewstats/">
    <table>
        <tr>
            <td>challenge_id:<br><br><br></td>
            <td><input type="number" name="challenge_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>total_views:<br><br><br></td>
            <td><input type="number" name="total_views" required /><br><br><br></td>
        </tr>
        <tr>
            <td>total_unique_views:<br><br><br></td>
            <td><input type="number" name="total_unique_views" required /><br><br><br></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>