<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colleges</title>
</head>
<body>
<br><br><br>
<h2>Colleges</h2>
<form method="post" action="/college/">
    <table>
        <tr>
            <td>college_id:<br><br><br></td>
            <td><input type="number" name="college_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>contest_id:<br><br><br></td>
            <td><input type="number" name="contest_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>