<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenges</title>
</head>
<body>
<h2>Challenges</h2>
<br><br><br>
<form method="post" action="/challenges/">
    <table>
        <tr>
            <td>challenge_id:<br><br><br></td>
            <td><input type="number" name="challenge_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>college_id:<br><br><br></td>
            <td><input type="number" name="college_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>