<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contests</title>
</head>
<body>
<h2>Contests</h2>
<br><br><br>
<form method="post" action="/contest/">
    <table>
        <tr>
            <td>contest_id:<br><br><br></td>
            <td><input type="number" name="contest_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>hacker_id:<br><br><br></td>
            <td><input type="number" name="hacker_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>name:<br><br><br></td>
            <td><input type="text" name="name" required /><br><br><br></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>