<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subimission Stats</title>
</head>
<body>
<h2>View_Stats</h2>
<br><br><br>
<form method="post" action="/submissionstats/">
    <table>
        <tr>
            <td>challenge_id:<br><br><br></td>
            <td><input type="number" name="challenge_id" required /><br><br><br></td>
        </tr>
        <tr>
            <td>total_submission:<br><br><br></td>
            <td><input type="number" name="total_submission" required /><br><br><br></td>
        </tr>
        <tr>
            <td>total_accepted_submissions:<br><br><br></td>
            <td><input type="number" name="total_accepted_submissions" required /><br><br><br></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>